geth/geth.log
geth/go-ethereum
socket/coinmarketcap.key
**/ganache*
**/gamesaves
**proxy/rpc*
**/faucetPrivateKey*
**/ganache.log
**/server.key
*/node_modules
aws.json
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.prettierignore
/.idea/.gitignore
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/3/1/31a02d4c27c48a39877eae3fd256c4fce0fdc89a
/.idea/sonarlint/securityhotspotstore/3/1/31a02d4c27c48a39877eae3fd256c4fce0fdc89a
/.idea/sonarlint/issuestore/5/1/51b4b6ef0535fc6a21eeb52ce57343fb33115239
/.idea/sonarlint/securityhotspotstore/5/1/51b4b6ef0535fc6a21eeb52ce57343fb33115239
/.idea/sonarlint/issuestore/7/6/761f48c1ed1fc57cb1972eeed7243d41ad553a56
/.idea/sonarlint/securityhotspotstore/7/6/761f48c1ed1fc57cb1972eeed7243d41ad553a56
/.idea/aws.xml
/.idea/sonarlint/issuestore/b/5/b5bc5a0f3e19e5fe6ce2e32d51aaf0b1158edd53
/.idea/sonarlint/securityhotspotstore/b/5/b5bc5a0f3e19e5fe6ce2e32d51aaf0b1158edd53
/.idea/codeStyles/codeStyleConfig.xml
/.idea/eth_lesson.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
